/*#board {*/
/*    height: 100%;*/
/*    display: grid;*/
/*    grid-template-columns: 1.5fr 1fr 1fr 1fr 1fr 1.5fr;*/
/*    grid-template-rows: 12.5% 25% 25% 25% 12.5%;*/
/*    gap: 1em 1em;*/
/*    align-items: stretch;*/
/*}*/

#board {
    background: linear-gradient(173deg, rgba(8,0,101,1) 0%, rgba(15,15,70,1) 63%, rgba(28,26,97,1) 100%);
    width: 98%;
    height: 98%;
    position: relative;
    transform-style: preserve-3d;
    border-radius: 10px;
}

.board-text { grid-area: board-text; }


body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: fit-content;
    height: 100%;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    font-size: 30px;
    text-align: center;
    overflow: hidden;
    min-width: 0;
}

#board > .cfield {
    background-color: rebeccapurple;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

}

#root {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-prev {
    display: none;
}

.card-prev.visible {
    position: absolute;
    display: block;
    z-index: 99;
}

#test {
    top: 50%; left: 18%;
    position: absolute;
    width: 333px;
    height: 132px;
    background: #f9f9f9;
    transform: translate3d(0, 0, 23em);
    transform-style: preserve-3d;
    z-index: 99;
}

.btn-68 {
    width: 333px;
    height: 132px;
    position: absolute;
    text-align: center;
    top: 88%; left: 84%;
    transform: translate(-50%, -50%);
    font-size: 44px;
}

#textarea {
    position: absolute;
    width: 28%;
    height: 70%;
    top: 40%; left: 84%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    background: rgb(175,175,175);
    background: radial-gradient(circle, rgba(175,175,175,0.9500175070028011) 0%, rgba(176,203,235,0.8715861344537815) 100%);
    display: flex;
    flex-direction: column;
}

.textarea-field {
    display: flex;
    align-items: center;
    background-color: #f9f9f9;
    width: 98%;
    height: 8%;
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
    line-height: normal;
}

.textarea-field > p {
    margin-bottom: 0;
}

#field-0 {
    top: 50%; left: 18%;
}

#field-1 {
    top: 50%; left: 20%;
}

#field-2 {
    top: 51%; left: 20%;
}

#field-3 {
    top: 20%; left: 20%;
}

#field-4 {
    top: 80%; left: 20%;
}

#field-5 {
    top: 50%; left: 35%;
}

#field-6 {
    top: 50%; left: 5%;
}

#field-7 {
    top: 80%; left: 61.5%;
}

#field-8 {
    top: 68%; left: 48.5%;
}

#field-9 {
    top: 32%; left: 48.5%;
}

#field-10 {
    top: 20%; left: 61.5%;
}

.BakaField{
    transform: rotate(-90deg);
}